body {
  overflow: hidden;
  background: black;
}


#divBackground {
  z-index: 2;
}

.Hexagon {
  background: radial-gradient(#000000, #101010);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  z-index: 3;
  color: white;
}
.Invalid {
  background: radial-gradient(#000000, #0A0A0A);
}
.Valid {
  cursor: pointer;
}
.Valid::before {
  z-index: 2;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(#000000, #303030);
  transition: opacity 1000ms;
  opacity: 0;
}
.Valid:hover::before {
  opacity: 1.0;
}


.Animation {
  /*clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);*/
  clip-path: circle();
  z-index: 1;
}
#divAnimation0 { opacity: 0; background: #FF000080; }
#divAnimation1 { opacity: 0; background: #00FF0080; }
#divAnimation2 { opacity: 0; background: #0000FF80; }
#divAnimation3 { opacity: 0; background: #FFFF0080; }
#divAnimation4 { opacity: 0; background: #FF00FF80; }
#divAnimation5 { opacity: 0; background: #00FFFF80; }


.MainButton {
  display: flex;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  background: none;
  border: none;
  opacity: 0.2;
  transition: opacity 1000ms, color 1000ms;
  z-index: 5;
  color: white !important;
}
.MainButton:hover {
  opacity: 1;
}
.MainButton.Selected {
  opacity: 1;
  color: yellow !important;
}

.Button {
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  background: none;
  border: none;
  opacity: 0;
  visiblitiy: hidden;
  transition: opacity 1000ms;
  z-index: 5;
}
.Button:hover {
  opacity: 1 !important;
}

.CursorButton {
  display: flex;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  background: radial-gradient(#000000, #FFFF00); /* yellow but mostly transparent */
  border: none;
  opacity: 0.4;
  transition: opacity 1000ms;
}
.CursorButton:hover {
  opacity: 0.8;
}

.Gong {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.MainButton > i,
.Button > i,
.GongContent {
pointer-events: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@keyframes jiggle {
  0%   { transform: rotate( 0deg); }
  25%  { transform: rotate( 2deg); }
  50%  { transform: rotate( 0deg); }
  75%  { transform: rotate(-2deg); }
  100% { transform: rotate( 0deg); }
}
